#container {
	display: grid;
	grid-gap: 10px;
	font-family: Arial, sans-serif;
}
#container > * {
	padding: 1em;
	border-radius: 1em;
}
header {
	background-color: blue;
	color: white;
}
.article {
	background-color: green;
	color: white;
}
aside {
	background-color: yellow;
}
.sidebar-1 {
	background-color: red;
}
.sidebar-2 {
	background-color: blue;
}
.article aside {
	background-color: white;
	color: black;
	padding: 0.5em;
	border-radius: 0.5em;
}

.nested {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
}
.nested-1 {

    display: flex;


}
.nested-1 div:first-child{
    flex: 1;
    font-size: 2rem;
  }
  .nested-1 div:nth-child(2){

    margin-top: 0.5rem;
    margin-left: 2.5rem;
  }



/* --------------------- */

.nested-2 {
    display: grid;
}
.deep-nested-2{
    margin-top: 3rem;
    background-color: blue;
    padding: 8rem;
	height: 30vh;

  }
  /* .deep-nested-2 div:first-child{
      background-color: red;
      padding: 5rem;
      height: 20vh;


  } */
  .deep-nested-3 nav{

    background-color: purple;
   padding: 1.5rem;

  }
  .deep-nested-3 nav ul{

     display: flex;
    background-color: purple;
list-style: none;
    justify-content: space-between;
    margin-right: 2.5rem;

  }
@media (min-width: 650px) {
	header {
		grid-column: 1 / 5;
		grid-row: 1 / 2;
	}
	.article {
		height: 100vh;
		grid-column: 2 / 4;
		grid-row: 3 / 4;
	}
	.sidebar-1 {
		grid-column: 1 /2;
		grid-row: 2 / 4;
	}
	.sidebar-2 {


		grid-column: 2/4;
		grid-row: 2 /3;


	}
    .nested {
        grid-template-columns: repeat(3,1fr);
        grid-template-areas:
            "aside1 ...  aside3"
    }
    .nested aside:first-child {
        grid-area: aside1;
    }
    .nested aside:last-child {
        grid-area: aside3;
    }
}
@media (min-width: 1000px) {
	header {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}
	.article {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	nav {
		margin: 0rem 12.375rem 2.813rem 12.375rem;
	}
	.deep-nested-2 {
		display: flex;
		justify-content: center;
		margin: 1.875rem 12.375rem 0rem 12.375rem;
		padding: 8rem;
		height: 30vh;

	}
	/* .deep-nested-2 div:first-child{
		background-color: red;
		padding: 5rem;
		height: 20vh;
		flex: 50vh 0;



	} */
	.sidebar-1 {
		grid-column: 1 / 2;
		grid-row: 2 / 4;


	}
	.sidebar-2 {

		grid-column: 3/4;
	 grid-row: 2/3;
 }

}