body {
  width: 100%;
  margin: 0;

  font-weight: 300;
}

#container {
  display: grid;
}
#container > * {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #5c6bc0;

  color: white;
  display: flex;
  justify-content: center;

  flex-flow: row wrap;

  height: 7vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  font-size: 1.4rem;

  color: black;
}

main[role="main"] {
  display: grid;
  grid-column: 1/5;
  grid-row: 3 / 4;
}
main[role="main"] > * {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  border-radius: 5px; /* 5px rounded corners */
}
.profile {
  background-color: #7986cb;
  transition: 0.3s;
  display: grid;
}
.profile img {
  width: 3rem;
}
.toolbar {
  background-color: #9fa8da;
}
.toolbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.profile ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
main section {
  /* Body */
  background-color: #e8eaf6;
  height: 55vh;
}

.sidebar-1 {
  background-color: #3f51b5;
}
.sidebar-2 {
  background-color: #5c6bc0;
}

footer {
  color: white;
  padding: 2rem;
  height: 10vh;
  background-color: #1a237e;

  grid-column: 1/5;
  grid-row: 4/5;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  text-align: center;
}
footer p {
  font-size: 0.8rem;
}
/* ------------------------------ */
@media (max-width: 650px) {
  header {
    grid-column: 1/ 5;
    grid-row: 1/ 2;
  }

  main[role="main"] {
    grid-column: 1/5;
    grid-row: 2 / 3;
    margin-top: 0.35rem;
  }
  main[role="main"] > * {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
  main section {
    grid-column: 2/4;
    grid-row: 2/3;
    padding: 10rem;
    height: 70vh;
    display: grid;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .profile {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 0.2rem black solid;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
  .toolbar {
    display: grid;
    grid-column: 2/4;
    grid-row: 3/5;

    border: 0.2rem black solid;
  }
  .sidebar-1 {
    grid-column: 1/2;
    grid-row: 2/5;
    margin-top: 0.2rem;

    border: 0.2rem black solid;
  }
  .sidebar-2 {
    grid-column: 2/4;
    grid-row: 1/2;
    border: 0.2rem black solid;
  }
  footer {
    height: 6vh;
  }
}

/* ------------------------------ */

@media (min-width: 768px) {
  header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
  .profile {
    width: 10rem;
  }
  main[role="main"] {
    grid-column: 1/5;
    grid-row: 3 / 4;
  }

  footer {
    grid-column: 1/5;
    grid-row: 4/5;
  }
}
/* ------------------------------ */

@media (min-width: 1000px) {
  #container > * {
    grid-gap: 15px;
    padding: 0.3rem;
  }
  header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  main[role="main"] {
    grid-column: 1/5;
    grid-row: 3 / 4;
  }
  main[role="main"] {
    grid-column: 1/5;
    grid-row: 3 / 4;
    margin-bottom: 10vh;
  }

  main section {
    grid-column: 2/5;
    grid-row: 2/3;
    padding: 15rem;

    height: 40vh;
    display: grid;
  }
  .profile {
    display: flex;
    flex-direction: column;
  }
  .toolbar {
    display: grid;
    grid-column: 2/5;
    grid-row: 4/5;
  }
  .sidebar-1 {
    grid-column: 1/2;
    grid-row: 2/5;
  }
  .sidebar-2 {
    grid-column: 5/6;
    grid-row: 2/5;
    padding: 0.5rem;
  }
  footer {
    grid-column: 1/5;
    grid-row: 4/5;
    text-align: center;
    height: 10vh;
  }
}
